* {
    box-sizing: border-box;
}

div {
    text-align: center;
    display: flexbox;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}

.page-header__item {
    flex: 0 1 200px;
}

.pokemon-list {
    justify-content: center;
}

ul {
    padding-inline-start: 0;
}


ul > li {
    justify-content: space-between;
}

.list-group {
    flex-direction: row;
}

.list-group-item-action {
    width: 200px;
    padding: 5px 5px 5px 5px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

/* #modal-container {
    display:none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
} */